Hello {{ user.get_full_name }},

You are receiving this email because a password reset was requested for your Nirmaan Foundation account.

If you made this request, please click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire after a short period for security reasons.

If you did not request a password reset, please ignore this email. Your account remains secure.

---
Nirmaan Foundation
NGO Content Management System
This is an automated message. Please do not reply to this email.
